<h1><i class="fas fa-cogs"></i> Paramètres du personnage</h1>
<h2>Résumé</h2>
<textarea>{{data.actorDescription}}</textarea>

<h2>Traits particuliers</h2>
<textarea>{{data.actorSpecialThings}}</textarea>

