<form id="characterSheet" class="{{cssClass}}" autocomplete="off">
    <div id="buttonsCharacterSheet">
        <button disabled class="active" id="buttonCharacterSheetCharacter"><i class="fas fa-user"></i> Personnage</button>
        <button id="buttonCharacterSheetSpellBook"><i class="fas fa-journal-whills"></i> Grimoire</button>
        <button id="buttonCharacterSheetSkills"><i class="fas fa-journal-whills"></i> Compétences</button>
        <button id="buttonCharacterSheetBags"><i class="fas fa-box"></i> Sac</button>
        <button id="buttonCharacterSheetSettings"><i class="fas fa-cogs"></i></button>
    </div>
    <div id="characterInformationSheet">
        {{> "systems/naheulbeuk/templates/partials/character-information-sheet.hbs"}}
    </div>
   
    <div id="spellBookSheet">
        {{> "systems/naheulbeuk/templates/partials/character-spell-book.hbs"}}
    </div>
    <div id="characterSettingsSheet">
        {{> "systems/naheulbeuk/templates/partials/character-settings-sheet.hbs"}}

    </div>
    <div id="characterBagsSheet">
        {{> "systems/naheulbeuk/templates/partials/character-bags-sheet.hbs"}}

    </div>
    
    <div id="characterSkillsSheet">
        {{> "systems/naheulbeuk/templates/partials/character-skills-sheet.hbs"}}

    </div>
</form>

