#characterAvatar {
    /* To correctly align image, regardless of content height: */
    display: block;
    /* To horizontally center images and caption */
    text-align: center;
    /* The width of the container also implies margin around the images. */
    width: 200px;
    float: left;
}

#characterAvatar img {
    width: 150px;
    height: 150px;
    background-color: grey;
}

#characterAvatar .caption {
    /* Make the caption a block so it occupies its own line. */
    display: block;
    position: relative;
    top: -26px;
    width: 130px;
    margin: auto;
    text-align: center;
}

#characterResume {
    width: auto !important;
    padding-top: 5px;
    /* padding-right: 5px; */
    right: 105px;
    position: absolute;
    top: 35px;
}

#characterResume table {
    width: 500px;
}

#characterResume input {
    border: none;
    border-bottom: 1px solid rgb(189, 182, 153);
    background-color: transparent;
}

#characterAbilities table {
    width: 250px;
    border: 1px solid #797979;
}

#characterAbilities td {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

#characterAbilities {
    padding: 5px;
    top: 185px;
    left: 0px;
    position: absolute;
    display: inline-block;
}

#characterAbilities input {
    border: none;
    border-bottom: 1px solid rgb(189, 182, 153);
    background-color: transparent;
    width: 25px;
    text-align: center;
}

.title {
    font-size: x-large;
    bottom: 5px;
}

#characterVitals {
    padding: 5px;
    top: 146px;
    left: 285px;
    position: absolute;
    display: inline-block;
}

#characterVitals table {
    border: 1px solid #797979;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    width: 110px;
}

#characterVitals input {
    border: none;
    border-bottom: 1px solid rgb(189, 182, 153);
    background-color: transparent;
    width: 25px;
    text-align: center;
}

#characterSens {
    padding: 5px;
    top: 420px;
    left: 0px;
    position: absolute;
    display: inline-block;
    width: 260px;
}

#characterSens table {
    border: 1px solid #797979;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

#characterSens input {
    border: none;
    border-bottom: 1px solid rgb(189, 182, 153);
    background-color: transparent;
    width: 100px;
    text-align: center;
}

#characterLevel {
    padding: 5px;
    top: 248px;
    left: 285px;
    position: absolute;
    display: inline-block;
}

#characterLevel table {
    border: 1px solid #797979;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    width: 110px;
}

#characterLevel input {
    border: none;
    border-bottom: 1px solid rgb(189, 182, 153);
    background-color: transparent;
    width: 40px;
    text-align: center;
}

#characterDestiny {
    padding: 5px;
    top: 350px;
    left: 285px;
    position: absolute;
    display: inline-block;
}

#characterDestiny table {
    border: 1px solid #797979;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    width: 110px;
}

#characterDestiny input {
    border: none;
    border-bottom: 1px solid rgb(189, 182, 153);
    background-color: transparent;
    width: 25px;
    text-align: center;
}

#characterEquipment {
    position: absolute;
    right: 155px;
    top: 163px;
}

#characterEquipment img {
    width: 220px;
    border: none;
}

#characterItems {
    max-width: 180px;
    padding: 5px;
    top: 200px;
    right: 0px;
    position: absolute;
    display: inline-block;
    /* border: solid; */
    text-align: right;
}

#characterItems li {
    padding-bottom: 5px;
    /* right: -75px; */
    position: relative;
}

#characterItems h3 {
    right: 40px;
    top: -20px;
    position: absolute;
}

#characterGold {
    padding: 5px;
    top: 575px;
    left: 0px;
    position: absolute;
    display: inline-block;
    width: 260px;
}

#characterGold table {
    border: 1px solid #797979;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

#characterGold input {
    border: none;
    border-bottom: 1px solid rgb(189, 182, 153);
    background-color: transparent;
    width: 100px;
    text-align: center;
}

#spellSchool {
    width: 25%;
    position: absolute;
    top: 55px;
    left: 75px;
    border: none;
    border-bottom: 1px solid rgb(189, 182, 153);
    background-color: transparent;
}

#spellName {
    width: 50%;
    position: absolute;
    top: 56px;
    right: 55px;
    border: none;
    border-bottom: 1px solid rgb(189, 182, 153);
    background-color: transparent;
    text-align: center;
}

#spellLevel {
    width: 50px;
    height: 50px;
    text-align: center;
    position: absolute;
    top: 44px;
    right: 20px;
    background-color: white;
    font-size: 1.5em;
    border: solid 2px darkgrey;
}

#spellDice {
    position: absolute;
    top: 120px;
}

#spellDice span {
    position: relative;
    top: 10px;
    right: 55px;
    font-style: italic;
}

#spellDice button {
    width: 50px;
    height: 50px !important;
}

#spellDice #diceTest {
    color: red;
}

#spellDice #diceDamage {
    color: blue;
    position: relative;
    right: 50px;
}

#spellDice #diceDamageText {
    position: relative;
    right: 105px;
}

#spellRange {
    width: 66px;
    height: 66px;
    position: absolute;
    top: 120px;
    right: 310px;
    border: solid 1px black;
    border-radius: 100%;
}

#spellRange span {
    width: 20px;
    position: relative;
    top: 16px;
    left: 26px;
}

#spellRange input {
    border: none;
    border-bottom: 1px solid rgb(189, 182, 153);
    background-color: transparent;
    position: relative;
    top: 15px;
    text-align: center;
    font-size: 1.5em;
}

#spellCost {
    width: 50px;
    position: absolute;
    top: 120px;
    right: 235px;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 60px solid #13a8ff;
}

#spellCost input {
    border: none;
    border-bottom: 1px solid rgb(189, 182, 153);
    background-color: transparent;
    width: 25px;
    position: relative;
    right: 12px;
    top: 15px;
    text-align: center;
    font-size: 1.3em;
}

#spellCost span {
    width: 20px;
    position: relative;
    top: 16px;
    right: 8px;
}

#spellSentence {
    width: 200px;
    position: absolute;
    top: 100px;
    right: 20px;
}

#time {
    border: none;
    border-bottom: 1px solid rgb(189, 182, 153);
    background-color: transparent;
    width: 20px;
    text-align: center;
    position: relative;
    left: 10px;
}

#spellSentence span {
    position: relative;
    left: 10px;
}

#AOE {
    border: none;
    border-bottom: 1px solid rgb(189, 182, 153);
    background-color: transparent;
    width: 20px;
    text-align: center;
    position: relative;
    left: 10px;
}

#spellDescription {
    position: absolute;
    top: 200px;
    left: 10px;
    width: 97%;
    min-height: 150px;
}

#sentence {
    border: none;
    border-bottom: 1px solid rgb(189, 182, 153);
    background-color: transparent;
    text-align: center;
    font-style: italic;
}

#effect {
    display: none;
}

#note {
    display: none;
}

#settingsSpells {
    display: none;
}

textarea {
    width: 100%;
    min-height: 110px;
    border: 1px solid rgb(189, 182, 153);
    font-family: sans-serif;
    text-align: justify;
}

#spellDescription button {
    width: 25%;
    margin-right: -5px;
}

#spellDescription .active {
    background-color: red;
    background-color: #d4d4d452;
}

.sheet {
    min-height: 350px !important;
    min-width: 550px !important;
}

#characterPR {
    padding: 5px;
    top: 404px;
    left: 285px;
    position: absolute;
    display: inline-block;
}

#characterPR table {
    border: 1px solid #797979;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    width: 110px;
}

.sheet-header img {
    border: dashed 2px #ff9711;
    background-color: #ffbc65;
}

#buttonSettings {
    width: 35px!important;
}

#settingsSpells input {
    border: none;
    border-bottom: 1px solid rgb(189, 182, 153);
    background-color: transparent;
}

#characterMagicSpecial {
    padding: 5px;
    top: 551px;
    left: 265px;
    position: absolute;
    display: inline-block;
}

#characterMagicSpecial table {
    border: 1px solid #797979;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    width: 110px;
}

#characterMagicSpecial input {
    border: none;
    border-bottom: 1px solid rgb(189, 182, 153);
    background-color: transparent;
    width: 30px;
    text-align: center;
}

#characterMagicSpecial th {
    padding: 3px;
}

#spellBookSheet {
    display: none;
}

#characterSkillsSheet {
    display: none;
}

#characterBagsSheet {
    display: none;
}

#characterSettingsSheet {
    display: none;
    overflow-y: scroll !important;
}

#buttonsCharacterSheet button {
    width: 90px;
    margin-right: -5px;
}

#buttonsCharacterSheet {
    position: absolute;
    right: 18px;
    z-index: 2;
}

#buttonCharacterSheetSettings {
    width: 35px!important;
}

#characterSheet {
    min-height: 670px !important;
    min-width: 500px !important;
}

#buttonCharacterSheetCharacter {
    width: 105px!important;
}

#characterInformationSheet {
    overflow: hidden !important;
}

#spellBookSheet table {
    text-align: center;
}

#spellBookSheet table td {
    width: 200px;
    height: 50px;
}

#spellBookSheet table td img {
    height: 50px;
    width: 50px;
    border: dashed 2px #ff9711;
    background-color: #ffbc65;
}

#buttonCharacterSheetSkills {
    width: 115px !important;
}

#spellBookSheet table th {
    height: 15px;
}

table#characterSkillsTable td {
    max-width: 150px;
    text-align: center;
}

table#characterSkillsTable td img {
    height: 50px;
    width: 50px;
    border: dashed 2px #ff0000;
    background-color: #f58383;
}

#buttonCharacterSheetBags {
    width: 60px !important;
}

#characterResume table {
    width: 600px;
    position: absolute;
    right: -100px;
}

#characterResume .title {
    right: 325px;
    position: relative;
    top: -1px;
}

#characterPR input {
    width: 30px;
    border: none;
    border-bottom: 1px solid rgb(189, 182, 153);
    background-color: transparent;
    text-align: center;
}

#skillSheetForm img {
    border: dashed 2px #ff0000;
    background-color: #f58383;
}

div.diceChatRoll {
    border: solid black 1px;
    text-align: center;
    width: 40px;
    height: 40px;
    color: #131327;
    background-color: #eee;
    font-size: x-large;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

div.diceChatRoll.fail {
    background-color: #ff6c6cac;
    color: #4a0101;
    border: solid 1px #b1b1b1;
}

div.diceChatRoll.success {
    background-color: #7fff7f;
    color: #063301;
    border: solid 1px #b1b1b1;
}

div.diceChatRoll.successCrit {
    background-color: gold;
    color: black;
    border: solid 1px #b1b1b1;
}

div.diceChatRoll.failCrit {
    background-color: black;
    color: white;
}

.dice-tooltip {
    display: block!important;
}

#characterDamageBonus {
    padding: 5px;
    top: 625px;
    left: 422px;
    position: absolute;
    display: inline-block;
}

#characterDamageBonus table {
    border: 1px solid #797979;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    width: 110px;
}

#characterDamageBonus input {
    border: none;
    border-bottom: 1px solid rgb(189, 182, 153);
    background-color: transparent;
    width: 30px;
    text-align: center;
}

ol.actor-items {
    max-width: 2500px;
    /* overflow: scroll; */
}

#diceWeapon {
    width: 64px;
    height: 64px;
    display: block;
}

.sheet header.sheet-header h1 input {
    height: 48px;
    line-height: 48px;
    margin: 8px 2%;
    width: 305px;
}

#characterItems img {
    display: none;
}

table#characterObjectBagTable td {
    max-width: 150px;
    text-align: center;
}

table#characterObjectBagTable td img {
    height: 50px;
    width: 50px;
    border: dashed 2px #277c00;
    background-color: #97ff8e;
}

#objectSheetForm img {
    border: dashed 2px #277c00;
    background-color: #97ff8e;
}